  /* Personal fix for horizontal bar*/
  .circleButtonMask-2VNJsN{
    margin-left: -5px
   }
  
  /* Personal CSS fix for shrinking member list*/
  .membersGroup-v9BXpm, .container-2ax-kl{
      height: 40px;
      margin-top: -15px;
   }
  
/* CSS SNIPPETS BY OTHER USERS*/  

  /** Bottom bar tweaks
   * Snippet from #css-snippets applied the 20 Nov 2020 at 15:02:35
   * Created by TaiAurori#6781 (334469240394481667)
   * Snippet ID: 779187317973712927
   */
  .form-2fGMdU {
    z-index: 1;
    width: calc(100vw - 275px);
  }
  /** 779187317973712927 */
  
  /**
   * Snippet from #css-snippets applied the Oct 15, 2020 at 10:31:23 PM
   * Created by Tropical#4355 (254362351170617345)
   * Snippet ID: 763158982105104404
   */
  .connectedAccount-36nQx7 {
      display:flex;
      flex-wrap:wrap;
      height:auto;
  }
  
  .connectedAccount-36nQx7 .connectedAccountIcon-3P3V6F {
      width:24px;
      height:24px;
  }
  .connectedAccount-36nQx7 .anchor-3Z-8Bb {
      width:100%;
      display:block;
      position:relative;
      overflow:hidden;
      text-overflow:ellipsis;
      line-height:normal;
  }
  .connectedAccount-36nQx7 .anchor-3Z-8Bb svg {
      display:none;
  }
  
  .connectedAccount-36nQx7 .anchor-3Z-8Bb:after {
      content:attr(href);
      width:100%;
      white-space:nowrap;
  }
  
  
  /*Spin like an album cover*/
  .powercord-spotify .avatarWrapper-2yR4wp {
    
      animation-name: spin;
      animation-duration: 4000ms;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
  }
  
  @keyframes spin {
      from {
          transform:rotate(0deg);
      }
      to {
          transform:rotate(360deg);
      }
  }
  
  /**
   * Snippet from #css-snippets applied the Oct 16, 2020 at 12:25:28 AM
   * Created by Ein#3092 (307356893053976576)
   * Snippet ID: 766502245889605642
   */
  /** Blurple channel unread marker **/
  .unread-3zKkbm {
      background-color: #7289da;
      width: 4px;
      height: 28px;
      margin-top: -15px;
      border-radius: 0px 4px 4px 0;
  }
  /** 766502245889605642 */
  /**
   * Snippet from #css-snippets applied the Oct 2, 2020 at 4:21:43 PM
   * Created by snapperito#0001 (431883840483491850)
   * Snippet ID: 761416946435883008
   */
  .ping-2NgC8E {
      transform: scale(1.7);
      margin-left: 5px;
      margin-top: 11px;
      margin-bottom: 0;
      height: 20px;
  }
  
  .channel-1TmDQ6 {
      margin-left: 30px;
      margin-top: -9px;
  }
  
  .rtcConnectionStatusConnected-VRZDjy {
      margin-left: 5px;
  }
  /** 761416946435883008 */
  
  /** 761265443025453077 */
  
  /**
   * Snippet from #css-snippets applied the Oct 2, 2020 at 4:32:30 PM
   * Created by Leeprky#1234 (224524143482241035)
   * Snippet ID: 760824503571316746
   */
  /* Compact Status Menu */
  
  .status-1fhblQ, .description-2L932D {
      display: none;
  }
  .separator-2I32lJ {
      display: none;
  }
  .mask-1qbNWk.icon-1IxfJ2 {
      --status-icon-size: 75%;
      height: var(--status-icon-size); 
      width: var(--status-icon-size);
      margin-left: 33%;
  }
  .animatorTop-2Y7x2r.scale-3iLZhb.didRender-33z1u8 > .menu-3sdvDG.styleFixed-sX-yHV > .scroller-3BxosC.thin-1ybCId.scrollerBase-289Jih {
      display: grid;
      align-items: center;
      grid-template-columns: auto auto auto auto;
      visibility: visible;
  }
  .item-1tOPte.colorDefault-2K3EoJ:nth-of-type(7) {
      grid-column: 1/5;
  }
  .animatorTop-2Y7x2r.scale-3iLZhb.didRender-33z1u8 {
      transition: opacity 0.15s linear 0s;
  }
  .customText-tY5LJn {
      font-size: 15px;
  }
  /** 760824503571316746 */
  
  /**
   * Snippet from #css-snippets applied the Oct 2, 2020 at 4:32:36 PM
   * Created by jayden#1000 (307679776728940555)
   * Snippet ID: 760693382502023170
   */
  .profileBadgePartner-SjK6L2 {
      background-image: url(https://cdn.discordapp.com/attachments/753471696866115677/760692516235378718/partner_badge.svg) !important;
  }
  /** 760693382502023170 */
  
  /**
   * Snippet from #css-snippets applied the Oct 2, 2020 at 4:36:24 PM
   * Created by PoorPockets McNewHold#1984 (277173061973835778)
   * Snippet ID: 757138357888352287
   */
  /* Compressed Search Bar */
  .search-2oPWTC .searchBar-3dMhjb {
      width: 30px;
      transition-duration: 300ms;
  }
  
  .search-2oPWTC .searchBar-3dMhjb:hover {
      width: 200px;
  }
  
  .search-2oPWTC.focused-31_ccS .searchBar-3dMhjb {
      width: 244px !important;
  }
  
  .search-2oPWTC .icon-38sknP {
      cursor: pointer;
  }
  /** 757138357888352287 */
  
  /**
   * Snippet from #css-snippets applied the Oct 2, 2020 at 4:36:45 PM
   * Created by LuckFire#4800 (399416615742996480)
   * Snippet ID: 757106245944606800
   */
  [aria-label="Online"]::after {
     content: 'ONLINE';
     font-weight: bold;
     padding-left: 5px;
     color: #43B581
  }
  [aria-label="Do Not Disturb"]::after {
     content: 'DO NOT DISTURB';
     font-weight: bold;
     padding-left: 5px;
     color: #F04747
  }
  [aria-label="Idle"]::after {
     content: 'IDLE';
     font-weight: bold;
     padding-left: 5px;
     color: #FFB740
  }
  [aria-label="Offline"]::after {
     content: 'OFFLINE/INVISIBLE';
     font-weight: bold;
     padding-left: 5px;
     color: #747F8D
  }
  /** 757106245944606800 */
  
  /**
   * Snippet from #css-snippets applied the Oct 2, 2020 at 4:39:10 PM
   * Created by Chromus#4761 (511758610720751626)
   * Snippet ID: 755796868948164658
   */
  /*Profile Modal*/
   .headerPlaying-j0WQBV, .topSectionPlaying-1J5E4n {
     z-index: 1;
     background-image: url(https://cdn.naila.bot/Discord/playing-background.svg),linear-gradient(to top right,#60adff,#4453fc);
  }
  
  
  .headerSpotify-zpWxgT, .topSectionSpotify-1lI0-P {
     z-index: 1;
     background-image: url(https://cdn.naila.bot/Discord/playing-background.svg),linear-gradient(to top right,#1db954,#44fc9d);
  }
  /**
   * Snippet from #css-snippets applied the Oct 2, 2020 at 4:42:37 PM
   * Created by MulverineX#0001 (178551656714076161)
   * Snippet ID: 755217496608473251
   */
  #private-channels-2 {
    display: none;
  }
  /** 755217496608473251 */
  
  
  /**
   * Snippet from #css-snippets applied the Oct 2, 2020 at 4:44:00 PM
   * Created by LuckFire#4800 (399416615742996480)
   * Snippet ID: 755166410824482937
   */
  .sidebar-2K8pFh, .chat-3bRxxu, .container-3Mxszk, .container-1D34oG, .applicationStore-1pNvnv {
     border-radius: 15px 15px 0 0 !important
  }
  
  .chat-3bRxxu, .container-1D34oG, .container-3Mxszk, .applicationStore-1pNvnv {
     position: relative;
     left: 5px;
     padding-right: 5px
  }
  
  /**
   * Snippet from #css-snippets applied the Sep 13, 2020 at 7:06:26 PM
   * Created by Deleted User#0000 (456226577798135808)
   * Snippet ID: 739928888964022335
   */
  .mention-1f5kbO{
      display:none;
  }
  /** 739928888964022335 */
  
  /**
   * Snippet from #css-snippets applied the Sep 13, 2020 at 7:06:40 PM
   * Created by Deleted User#0000 (456226577798135808)
   * Snippet ID: 739823600420519959
   */
  .unread-1xRYoj{
    display: none;
  }
  /** 739823600420519959 */
  
  /**
   * Snippet from #css-snippets applied the Sep 17, 2020 at 3:06:49 PM
   * Created by Rikimbili#2002 (210478817544896512)
   * Snippet ID: 756217722874101830
   */
  .buttons-3JBrkn [aria-label="Send a gift"] {
    display: none;  
  }
  #private-channels-1 {
    display: none;
  }
  /** 756217722874101830 */
  
  
  /**
   * Snippet from #css-snippets applied the Sep 13, 2020 at 7:07:15 PM
   * Created by TXJ#5664 (189238841054461952)
   * Snippet ID: 720679626170433660
   */
  div[aria-label="Explore Public Servers"]{ display: none; }
  /** 720679626170433660 */
  
  
  
  /**
   * Snippet from #css-snippets applied the Oct 5, 2020 at 6:58:15 PM
   * Created by Skullbite#5245 (158750488563679232)
   * Snippet ID: 762667788841779210
   */
  .px-10SIf7.botTag-2WPJ74 {
      height: 15px;
      padding: 0 4px;
      margin-top: 1px;
      padding-right: 0px;
      border-radius: 3px;
  }
  
  span.botText-1526X_::before {
      font-family: "Font Awesome 5 Pro" !important;
      content: "\f544";
      font-weight: 900;
      visibility: visible;
      position: absolute;
      top: 0;
      left: 0;
  }
  
  span.botText-1526X_ {
      visibility: hidden;
      position: relative;
  }
  /** 762667788841779210 */
  
  /**
   * Snippet from #css-snippets applied the Oct 12, 2020 at 12:02:19 AM
   * Created by botato#6883 (440990343899643943)
   * Snippet ID: 764468913953701892
   */
  svg.slider-TkfMQL svg {
    display: none;
  }
  
  .container-3auIfb:not([style*="125"]) {
    background-color: #7289da !important;
  }
  /** 764468913953701892 */
  
  /**
   * Snippet from #css-snippets applied the Oct 15, 2020 at 6:38:58 PM
   * Created by ezist#7571 (632082248954282014)
   * Snippet ID: 766361519453110282
   */
  .profile-1eT9hT + .fieldList-21DyL8 > .field-1HUseB:not(:first-child) .colorHeaderPrimary-26Jzh- {
      filter: blur(5px);
      transition: filter 0.5s
  }
  .profile-1eT9hT + .fieldList-21DyL8 > .field-1HUseB:not(:first-child):hover .colorHeaderPrimary-26Jzh- {
      filter: blur(0px);
  }
  /** 766361519453110282 */
  /**
   * Snippet from #css-snippets applied the Oct 3, 2020 at 3:11:05 AM
   * Created by MulverineX#0001 (178551656714076161)
   * Snippet ID: 761818920905998356
   */
  img[src="/assets/9a43e631d506ae4818ecefc825dc02ad.svg"],
  img[src="/assets/13c8662cff8e029799a35878b56e23eb.svg"] { 
    filter: invert(1); 
  }
  /**
   * Snippet from #css-snippets applied the 22 Oct 2020 at 07:36:42
   * Created by Kanin#0001 (173237945149423619)
   * Snippet ID: 768557018591658016
   */
  
  /**
   * Snippet from #css-snippets applied the 22 Oct 2020 at 07:37:00
   * Created by Chromus#4761 (511758610720751626)
   * Snippet ID: 768619643170324491
   */
  /* Cool Member List */
  :root {
      --hover-animation-speed: 0.48s;
      --seperator-color: var(--background-accent);
   }
   
   .membersWrap-2h-GB4 {
      min-width: unset;
      width: 65px;
      justify-content: right;
   }
   
   .members-1998pB {
      transition: transform var(--hover-animation-speed);
   }
   
   .membersWrap-2h-GB4:hover .members-1998pB {
      transform: translateX(-190px);
   }
   
   .membersWrap-2h-GB4 .membersGroup-v9BXpm::after {
      content: '';
      width: 30px;
      height: 2px;
      border-radius: px;
      background: unset;
      background-color: var(--seperator-color);
      position: absolute;
      left: -36px;
      top: 29px;
      margin-left: 0px;
   }
   
   .membersWrap-2h-GB4 .members-1998pB .member-3-YXUe {
      background-color: unset;
      margin-left: 0px;
      transition: margin-left var(--hover-animation-speed);
   }
   
   .membersWrap-2h-GB4:hover .members-1998pB .member-3-YXUe {
      margin-left: 8px;
   }
   
   .membersWrap-2h-GB4:hover .membersGroup-v9BXpm {
      transform: translateX(-5px);
   }
   
   .membersWrap-2h-GB4 .membersGroup-v9BXpm {
      cursor: default;
      transform: translateX(45px);
      transition: transform var(--hover-animation-speed);
      overflow: visible;
   }
  
  .members-1998pB {
    border-radius: 15px 15px 0 0 !important;
  }
  .membersWrap-2h-GB4, .members-1998pB {
    left: 6px;
    margin-right: -5px
  }
  .chat-3bRxxu {
    background: var(--background-tertiary);
  }
  .chatContent-a9vAAp {
    background-color: var(--background-primary);
    border-radius: 0 15px 0 0 !important;
    left: 25px;
    margin-left: -25px
  }
  /** 768619643170324491 */
  
  /**
   * Snippet from #css-snippets applied the 22 Oct 2020 at 08:37:15
   * Created by あかね・バタフライ#2356 (383990559070486529)
   * Snippet ID: 768809246464016384
   */
  .sidebarRegion-VFTUkN {
    flex-grow: 0;
  }
  
  .contentColumnDefault-1VQkGM {
    max-width: calc(100% - 60px);
  }
  /** 768809246464016384 */
  
  /*Help Button*/
  
  [class|=toolbar] a {
    display: none;
  }
  
  /**
   * Snippet from #css-snippets applied the 5 Nov 2020 at 18:30:45
   * Created by oni#4000 (305071855943942146)
   * Snippet ID: 774032815976742912
   */
  .titleBar-AC4pGV>*:nth-child(2) {
  background-color: #0C0C0C;
  transition: background-color 1s ease-out;
  }
  .titleBar-AC4pGV>*:nth-child(3) {
  background-color: #0C0C0C;
  transition: background-color 1s ease-out;
  }
  .titleBar-AC4pGV>*:nth-child(4) {
  background-color: #0C0C0C;
  transition: background-color 1s ease-out;
  }
  .titleBar-AC4pGV>*:nth-child(2):hover {
  background-color: #AA2832;
  }
  .titleBar-AC4pGV>*:nth-child(3):hover {
  background-color: #056295;
  }
  .titleBar-AC4pGV>*:nth-child(4):hover {
  background-color: #FDB100;
  }
  
  /**
   * Snippet from #css-snippets applied the 18 Nov 2020 at 00:25:31
   * Created by Creation's#0001 (209830981060788225)
   * Snippet ID: 778414515971686431
   */
  /* Hiding */
  
  .clearStatusIcon-3-MDNF,
  .scrollerBase-289Jih > [id*="status-picker-"] + .separator-2I32lJ,
  .statusItem-33LqPf > .status-1fhblQ,
  .statusItem-33LqPf > .description-2L932D,
  .statusItem-33LqPf > .separator-2I32lJ,
  .statusItem-33LqPf > .customText-tY5LJn,
  .statusItem-33LqPf > .clearStatusIcon-3-MDNF,
  .tutorialContainer-SGrQ1h + div {
  
      display: none;
  }